# 1

In [ ]:
import numpy as np

In [ ]:
def factorial(n):
  if  n == 0 or n == 1:
    return 1
  else:
    return n * factorial(n-1)

In [ ]:
def fib(m):
  if m == 0:
    return 0
  elif m == 1:
    return 1
  else:
   return fib(m-1) + fib(m-2)

In [ ]:
def arr(n,i):
  if i == len(n)-1:
    return n[len(n)-1]
  else:
    print(n[i])
    return arr(n,i+1)

arr([1,2,3,4],0)

1
2
3

4

In [ ]:
def exp(n,p):
  if p == 0:
    return 1
  else:
    return n * exp(n,p-1)

In [ ]:
print(factorial(6))
print(fib(6))
print(exp(3,3))

720
8
27

# 2

In [ ]:
def db(n):
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return db(n // 2) + str(n % 2)

print(db(5))

101

In [ ]:
class Node:
  def __init__(self,elem,next = None):
    self.elem = elem
    self.next = next
def createList(arr):
    head = Node(arr[0])
    tail = head
    for i in range(1,len(arr)):
        newNode = Node(arr[i])
        tail.next = newNode
        tail = newNode
    return head

In [ ]:
def addd(head):
  if head == None:
    return 0
  else:
    return head.elem + addd(head.next)

x = createList(np.array([1,2,3,4]))
print(addd(x))

10

In [ ]:
def rev(head):
  if head.next == None:
    return head.elem
  else:

    x = rev(head.next)
    print(x)
    return head.elem


x = createList(np.array([1,2,3,4]))
print(rev(x))

4
3
2
1

# 3

In [ ]:
def hocBuilder(height):
    if height == 0:
        return 0
    elif height == 1:
        return 8
    else:
        return 5 + hocBuilder(height - 1)

hocBuilder(5)

28

# 4

In [ ]:
def print_n(n):
  if n == 0:
    return
  else:
    print_n(n - 1)
    print(n, end = '')

def l_triangle(n):
    if n == 1:
        print(n)
        return
    else:
        l_triangle(n - 1)
        print_n(n)
        print()

l_triangle(5)

1
12
123
1234
12345

In [ ]:
def space(n):
  if n == 0:
    return
  else:
    space(n - 1)
    print(' ', end = '')

def print_n(n):
  if n == 0:
    return
  else:
    print_n(n - 1)
    print(n, end = '')

def r_triangle(m, n):
    if n == 1:
        space(m - n)
        print(n)
        return
    else:
        r_triangle(m, n - 1)
        space(m - n)
        print_n(n)
        print()

r_triangle(5,5)

    1
   12
  123
 1234
12345

#5

# Must finish

In [ ]:
def flattenList(given_list, output_list):

  if len(given_list) == 0:
    return output_list

  elif isinstance(given_list[0],list):
    flattenList(given_list[0],output_list)
    return flattenList(given_list[1:],output_list)

  else:
    output_list.append(given_list[0])
    return flattenList(given_list[1:],output_list)

given_list = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
oul = flattenList(given_list, [])
print(oul)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]